<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Basic Computer Science Quiz History</title>
  </head>
  <body class="flex">
    <div class="wrapper">
      <div class="test_container">
        <button type="button" class="answer"><a href="/">Go Back to Quiz</a></button>
        <div class="test_head">
          <h1 class="test_title">History of Quiz Scores</h1>
          <table id="attempts">
            <tr>
              <th>Attempt No.</th>
              <th>Score</th>
            </tr>
          </table>
        </div>

        <div class="test_body">
        </div>

        <div class="test_foot">
        </div>
      </div>
    </div>

    <script type="text/javascript" src="../static/js/points.js"></script>
    <script type="text/javascript" src="../static/js/his_script.js"></script>
  </body>
</html>
